{
  "extends": ["stylelint-config-twbs-bootstrap", "stylelint-config-prettier"],
  "rules": {
    "selector-no-qualifying-type": null,
    "declaration-no-important": [true, { "severity": "warning" }]
  }
}
