---
import Layout from "../../layouts/Layout.astro";
import SampleModalDelete from "../../components/SampleModalDelete.astro";
---

<Layout title="Product details">
  <main class="flex-shrink-0 mb-3">
    <div class="container">
      <div class="main-header">
        <h2 class="main-title">Product details</h2>
      </div>

      <div class="row g-2 mt-0">
        <div class="col-md-12">
          <div class="btn-actions" role="group" aria-label="Actions">
            <a href="/sample/edit" class="btn btn-secondary"
              ><i class="fa fa-pencil"></i> Edit</a
            >
            <a
              href="/sample/delete"
              class="btn btn-danger"
              data-bs-toggle="modal"
              data-bs-target="#deleteModal"
              ><i class="fa fa-trash"></i> Delete</a
            >
          </div>
        </div>

        <div class="col-md-12">
          <div class="card">
            <div class="card-header">Name: Product 1</div>
            <div class="card-body">
              <p class="card-text">Brand: Brand 1</p>
              <p class="card-text">Description: Description of product 1</p>
              <p class="card-text">Price: €10.00</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <SampleModalDelete />
</Layout>
