main > .container,
main > .container-fluid {
  padding-top: 4.5rem;
}

main > .container-fluid {
  padding-right: 4rem;
  padding-left: 4rem;
}

.bi {
  width: 1em;
  height: 1em;
  vertical-align: -.125em;
  fill: currentcolor;
}
