<h3>colors</h3>
<div class="callout callout-primary">
    <h5>callout-primary</h5>
    <strong>This is a primary callout.</strong> Example text to show
    it in action.
    <code>.callout .callout-primary</code>
</div>
<div class="callout callout-secondary">
    <h5>callout-secondary</h5>
    <strong>This is a secondary callout.</strong> Example text to show
    it in action.
    <code>.callout .callout-secondary</code>
</div>
<div class="callout callout-success">
    <h5>callout-success</h5>
    <strong>This is a success callout.</strong> Example text to show
    it in action.
    <code>.callout .callout-success</code>
</div>
<div class="callout callout-danger">
    <h5>callout-danger</h5>
    <strong>This is a danger callout.</strong> Example text to show it
    in action.
    <code>.callout .callout-danger</code>
</div>
<div class="callout callout-warning">
    <h5>callout-warning</h5>
    <strong>This is a warning callout.</strong> Example text to show
    it in action.
    <code>.callout .callout-warning</code>
</div>
<div class="callout callout-info">
    <h5>callout-info</h5>
    <strong>This is an info callout.</strong> Example text to show it
    in action.
    <code>.callout .callout-info</code>
</div>
<div class="callout callout-light">
    <h5>callout-light</h5>
    <strong>This is a light callout.</strong> Example text to show it
    in action.
    <code>.callout .callout-light</code>
</div>
<div class="callout callout-dark">
    <h5>callout-dark</h5>
    <strong>This is a dark callout.</strong> Example text to show it
    in action.
    <code>.callout .callout-dark</code>
</div>
<h3>sizes</h3>
<div class="callout callout-info callout-sm">
    <strong>This is a small callout.</strong> Example text to show it
    in action.
</div>
<div class="callout callout-info">
    <strong>This is a default callout.</strong> Example text to show
    it in action.
</div>
