---
---

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img
        src="/images/enabel-icon-round.png"
        alt="Mockup - Enabel"
        width="36px"
      />
      Mockup Starter Kit
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto order-0">
        <li class="nav-item">
          <a class="nav-link active" href="/"><i class="fa fa-home"></i> Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sample/list"
            ><i class="fa fa-list"></i> Sample CRUD</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sample/dashboard"
            ><i class="fa fa-chart-line"></i> Sample dashboard</a
          >
        </li>
      </ul>
      <ul class="navbar-nav ms-auto order-5">
        <li class="nav-item dropdown">
          <a
            href="#"
            class="nav-link dropdown-toggle"
            id="dropdownMenuButton"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="fi fi-fr"></i> FR
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#"
              ><i class="fi fi-gb"></i> English</a
            >
            <a class="dropdown-item" href="#"
              ><i class="fi fi-fr"></i> Français</a
            >
            <a class="dropdown-item" href="#"><i class="fi fi-nl"></i> Dutch</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a
            href="#"
            class="nav-link dropdown-toggle"
            id="navbarDropdownMenuLink"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i
              class="fa fa-user-circle fa-lg rounded-circle align-self-center mr-2"
              style="width: 32px;"></i> John SMITH
          </a>
          <div
            class="dropdown-menu dropdown-menu-right"
            aria-labelledby="navbarDropdownMenuLink"
          >
            <p class="dropdown-item-text text-muted mb-0">
              john.smith@enabel.be
            </p>
            <a class="dropdown-item" href="#"> Mon profil</a>
            <div class="dropdown-divider"></div>
            <a href="/login" class="dropdown-item"
              ><i class="fa fa-unlock"></i> Deconnexion</a
            >
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
