<h3>Timeline: default events</h3>
<div class="horizontal-timeline">
    <ul class="list-inline items row">
        <li class="list-inline-item items-list col-md-4">
            <div class="px-6">
                <div class="event-date">
                    01/01/2023
                </div>
                <h5 class="pt-2">
                    Start of the year
                </h5>
                <p class="text-muted">
                    First day of the year
                </p>
            </div>
        </li>

        <li class="list-inline-item items-list col-md-4">
            <div class="px-6">
                <div class="event-date">
                    21/06/2023
                </div>
                <h5 class="pt-2">
                    Start of the summer
                </h5>
                <p class="text-muted">
                    <i class="fa fa-sun"></i> First day of the summer <i class="fa fa-martini-glass-citrus"></i>
                </p>
            </div>
        </li>

        <li class="list-inline-item items-list col-md-4">
            <div class="px-6">
                <div class="event-date">
                    31/12/2023
                </div>
                <h5 class="pt-2">
                    End of the year
                </h5>
                <p class="text-muted">
                    Last day of the year
                </p>
            </div>
        </li>
    </ul>
</div>

<h3>Timeline: colored events</h3>
<div class="horizontal-timeline">
    <ul class="list-inline items row">
        <li class="list-inline-item items-list col-md-4">
            <div class="px-6">
                <div class="event-date event-date-success">
                    01/01/2023
                </div>
                <h5 class="pt-2">
                    Start of the year
                </h5>
                <p class="text-muted">
                    First day of the year
                </p>
            </div>
        </li>

        <li class="list-inline-item items-list col-md-4">
            <div class="px-6">
                <div class="event-date event-date-secondary">
                    21/06/2023
                </div>
                <h5 class="pt-2">
                    Start of the summer
                </h5>
                <p class="text-muted">
                    <i class="fa fa-sun"></i> First day of the summer <i class="fa fa-martini-glass-citrus"></i>
                </p>
            </div>
        </li>

        <li class="list-inline-item items-list col-md-4">
            <div class="px-6">
                <div class="event-date event-date-danger">
                    31/12/2023
                </div>
                <h5 class="pt-2">
                    End of the year
                </h5>
                <p class="text-muted">
                    Last day of the year
                </p>
            </div>
        </li>
    </ul>
</div>

