<h3>colors</h3>
<div class="row mt-3">
    <div class="col-md-3">
        <a href="#" class="widget-link">
            <div class="widget widget-primary">
                <i class="widget-icon col-md-1 fa fa-user fa-3x"></i>
                <div class="widget-content col-md-11">
                    <h2 class="count">10</h2>
                    <p>Primary</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3">
        <a href="#" class="widget-link">
            <div class="widget widget-secondary">
                <i class="widget-icon col-md-1 fa fa-list-ol fa-3x"></i>
                <div class="widget-content col-md-11">
                    <h2 class="count">10</h2>
                    <p>Secondary</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3">
        <a href="#" class="widget-link">
            <div class="widget widget-success">
                <i class="widget-icon col-md-1 fa fa-thumbs-up fa-3x"></i>
                <div class="widget-content col-md-11">
                    <h2 class="count">10</h2>
                    <p>Success</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3">
        <a href="#" class="widget-link">
            <div class="widget widget-danger">
                <i class="widget-icon col-md-1 fa fa-bolt fa-3x"></i>
                <div class="widget-content col-md-11">
                    <h2 class="count">10</h2>
                    <p>Danger</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3">
        <a href="#" class="widget-link">
            <div class="widget widget-warning">
                <i class="widget-icon col-md-1 fa fa-car-on fa-3x"></i>
                <div class="widget-content col-md-11">
                    <h2 class="count">10</h2>
                    <p>Warning</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3">
        <a href="#" class="widget-link">
            <div class="widget widget-info">
                <i class="widget-icon col-md-1 fa fa-lightbulb fa-3x"></i>
                <div class="widget-content col-md-11">
                    <h2 class="count">10</h2>
                    <p>Info</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3">
        <a href="#" class="widget-link">
            <div class="widget widget-light">
                <i class="widget-icon col-md-1 fa fa-solar-panel fa-3x"></i>
                <div class="widget-content col-md-11">
                    <h2 class="count">10</h2>
                    <p>Light</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3">
        <a href="#" class="widget-link">
            <div class="widget widget-dark">
                <i class="widget-icon col-md-1 fa fa-cloud-moon fa-3x"></i>
                <div class="widget-content col-md-11">
                    <h2 class="count">10</h2>
                    <p>Dark</p>
                </div>
            </div>
        </a>
    </div>
</div>
