---
import "../../scss/enabel-bootstrap-theme.scss";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

export interface Props {
  title: string;
}

// let darkToggle = document.querySelector('#darkToggle');

// darkToggle.addEventListener('change', ()=> {
  // document.classList.toggle('dark');
// });

const { title, theme } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="h-100" data-bs-theme="">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} - Enabel Bootstrap Theme</title>
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  </head>
  <body class="d-flex flex-column h-100">
    <Navbar />
    <slot />
    <Footer />
  </body>
  <script src="../../js/enabel-bootstrap-theme.js"></script>
</html>
