---
import "../../scss/enabel-bootstrap-theme.scss";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} - Mockup</title>
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  </head>
  <body class="d-flex flex-column h-100 bg-dark mb-0">
    <slot />
  </body>
  <script src="../../js/enabel-bootstrap-theme.js"></script>
</html>
